<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/listener" version="1.0.0" viewmodes="maximized">
    <tizen:application id="QAwM9N6AX9.listener" package="QAwM9N6AX9" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <feature name="http://tizen.org/feature/media.audio_recording"/>
    <feature name="http://tizen.org/feature/microphone"/>
    <feature name="http://tizen.org/feature/location.batch"/>
    <icon src="icon.png"/>
    <name>listener</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/audiorecorder"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:profile name="wearable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
